[submodule "mysite"]
	path = mysite
	url = https://github.com/ethanlou2/mysite.git
	branch = prod
[submodule "mysite1"]
	path = mysite1
	url = https://github.com/ethanlou2/mysite1.git
	branch = prod
[submodule "dispatcher"]
	path = dispatcher
	url = https://github.com/ethanlou2/dispatcher.git
	branch = prod
[submodule "cdn"]
	path = cdn
	url = https://github.com/ethanlou2/cdn.git
	branch = prod
